# .env.example

# -----------------------
# Base de datos PostgreSQL
# -----------------------
DATABASE_URL="postgresql://<USUARIO>:<PASSWORD>@<HOST>:<PUERTO>/<BASE_DE_DATOS>?schema=public"
SHADOW_DATABASE_URL="postgresql://<USUARIO>:<PASSWORD>@<HOST>:<PUERTO>/<BASE_DE_DATOS>?schema=shadow"

# -----------------------
# Redis (opcional)
# -----------------------
REDIS_URL="redis://<HOST>:<PUERTO>"

# -----------------------
# JWT
# -----------------------
# Usar rutas a los archivos de las llaves privadas y públicas (no subir los archivos reales a GitHub)
JWT_PRIVATE_KEY_PATH="./secrets/jwtRS256.key"
JWT_PUBLIC_KEY_PATH="./secrets/jwtRS256.key.pub"

# Opcionalmente, se puede usar contenido inline en CI/CD, pero no poner la clave real en GitHub
# JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
# JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_PASSWORD_RESET_EXPIRES_IN="30m"

# -----------------------
# NestJS / App
# -----------------------
PORT=3000
BCRYPT_SALT_ROUNDS=10
